*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
}

.mybooks-list {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  height: 300px;
  margin: 10px;
}

.card-wrapper {
  display: flex;
}

h1 {
  text-align: center;
}

.updates {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  background-color: lightblue;
  margin: 0 auto;
}

.cta {
  width: 100px;
  height: 48px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  color: black;
  font-weight: bold;
  background-color: lightcyan;
  border: 2px solid grey;
  border-radius: 20%;
  text-decoration: none;
  line-height: 40px;
  padding-left: 3px;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form.form-example {
  display: table;
}

div.form-example {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}
